@model List<EmployeeViewModel>
@{
    ViewData["Title"] = "Employee Page";
}

<form action="/Home/PostEmployee" method="post">
    <button class="btn btn-primary">送出</button>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>員工編號</th>
                <th>員工姓名</th>
                <th>員工地址</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                EmployeeViewModel emp = Model[i];
                <tr>
                    <td>@emp.EmployeeNo</td>
                    <td>@emp.EmployeeName</td>
                    <td>@emp.EmployeeAddress</td>
                    <td>
                        <input type="text" name="[@i].EmployeeNo" asp-for="@emp.EmployeeNo" hidden />
                        <input type="text" name="[@i].EmployeeName" asp-for="@emp.EmployeeName" hidden />
                        <input type="text" name="[@i].EmployeeAddress" asp-for="@emp.EmployeeAddress " hidden />
                    </td>
                </tr>
            }
        </tbody>
    </table>

</form>
